.container {
    display: flex;
    gap: 10%;
}

.contText {
    margin-top: 220px;
    font-size: 20px;
}

.button {
    margin-top: 30px;
    border-radius: 50px;
    border: 1px solid;
    padding: 13px;
}

@media screen and (max-width: 1191px) {
    .contText {
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 1;
        margin-top: -10px;
        margin-bottom: 60px;
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .spline {
        order: -1;
    }
}

@media screen and (max-width: 637px) {
    .button {
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;

    }
}

@media screen and (max-width: 637px) {

    .spline {
        width: 100px;
        margin-right: 510px;
    }

    .button {
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .title {
        font-size: 70px;
    }
}

@media screen and (max-width: 526px) {
    .container {
        margin-left: 160px;
    }

}